<h1><%= @recipe.title%></h1>
	<h2 class="change_color"> Ingredients </h2>
		<ul id ="show_page">
			<% @recipe.ingredients.each do |ingredient| %>
				<li contenteditable="true"><%= ingredient %></li>
			<% end %>
		</ul>
	<h2 class="change_color"> Directions </h2>
		<ol id="numbers">
			<% @recipe.directions.each do |direction| %>
			<li><p><span id="left_align"><%= direction %></span></p></li>
			<%end%>
		</ol>
	<form action="/user/<%=@user.id%>/recipes" method="get">
		<button name="save_recipe" type="submit">Go to my recipe box</button>
	</form>
	<form action="/sms/<%=@recipe.id%>" method="post">
		<button name="send_text" type="submit">Send ingredients</button>
	</form>